.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.container p {
  margin: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
